# Environment variables example

# Nginx Configurations
NGINX_VERSION=1.25.3
# Pagespeed Configurations
PAGESPEED_VERSION=1.13.35.2
# libpng configuration
LIBPNG_VERSION=1.6.40
# Number of jobs for the build phase.
MAKE_J=4
